MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=footfusion
THESPORTSDB_API_KEY=
THESPORTSDB_BASE_URL=https://www.thesportsdb.com/api/v1/json
APIFOOTBALL_API_KEY=
APIFOOTBALL_BASE_URL=https://v3.football.api-sports.io